## for Loop

## 1. Generating numbers using for loop and range function

In [3]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

## 2. Printing even numbers from 1 to 16

In [7]:
for num in range(1, 17):
    if(num%2 == 0):
        print(num)

2
4
6
8
10
12
14
16

## 3. Printing characters of strings

In [8]:
string = "Mohammad Danish"
for char in string:
    print(char)

M
o
h
a
m
m
a
d

D
a
n
i
s
h

## 4. Printing list elements

In [9]:
List = ["Mohammad", "Danish", 1, True, False, 65]
for element in List:
    print(element)

Mohammad
Danish
1
True
False
65

## 5. Printing keys of dictionary

In [13]:
dict = {"Name": "Danish", "Surname": "Siddique", 45: 54}
for pair in dict:
    print(pair)

Name
Surname
45