## Creating a tuple

In [2]:
tuple1 = (2, "Mohammad")
print(tuple1)
print(type(tuple1))

(2, 'Mohammad')
<class 'tuple'>

## Creating an empty tuple

In [3]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

## Tuple containing integer value

In [8]:
tuple1 = (34)
print(tuple1)
print(type(tuple1)) #int as it contains only integers

34
<class 'int'>

## Generating a tuple using range function

In [5]:
Tuple = tuple(range(1, 101, 2)) #converting the range into tuple
print(Tuple)
print(type(Tuple))

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99)
<class 'tuple'>

## tuple concatenation

In [10]:
t1 = (10,20,30,40)
t2 = (50,60,70,80)
t3 = t1 + t2
print(t3)

(10, 20, 30, 40, 50, 60, 70, 80)

## min function

In [13]:
tuple = (23, 67, 87, 12, 3, 4, 1, 65)
smallest = min(tuple)
print(f'smallest number = {smallest}')

smallest number = 1

## max function

In [15]:
tuple = (23, 67, 87, 12, 3, 4, 1, 65)
maximum = max(tuple)
print(f'largest number = {maximum}')

largest number = 87

## sorted function

In [16]:
tuple = (23, 67, 87, 12, 3, 4, 1, 65)
sorted_tuple = sorted(tuple)
print(f'sorted tuple = {sorted_tuple}')

sorted tuple = [1, 3, 4, 12, 23, 65, 67, 87]